rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /referrals/{referralCode} {
      allow read, write: if request.auth != null; // Only authenticated users can read/write top-level referral docs
      
      // Allow anyone to create a referral (e.g., when signing up)
      allow create: if true;

      match /referredUsers/{referredUserId} {
        allow read, write: if request.auth != null; // Only authenticated users can read/write referred users
        
        // Allow anyone to create a referred user (e.g., when a new user signs up via a referral link)
        allow create: if true;
      }
    }
  }
}
